<%= render "items_header" %>

<div class="app-introduction">
    <div class="introduction">
      <p class="introduction-text"><span>EnrIch</span><br>生活を少しだけ豊かにしてくれるアイテムと出会えるアプリケーション</p>
    <div>
</div>
