<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <div class="left-contents">
      <a class="navbar-brand fs-1" href="#">EnrIch</a>
    </div>
    <div class="right-contents">
      <div class="user-contents">
        <li><a class="login" href="/users/sign_in">ログイン</a></li>
        <li><a class="sign-up" href="/users/sign_up">アカウント登録</a></li>
      </div>
    </div>
  </div>
</nav>
<div class="app-introduction">
    <div class="introduction">
      <p class="introduction-text"><span>EnrIch</span><br>生活を少しだけ豊かにしてくれるアイテムと出会えるアプリケーション</p>
    <div>
</div>
