// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);}

.navbar-brand {
  font-family: 'HanziPen TC',sans-serif;
}

li {
  text-decoration: none;
  color: #333333;
}

.user-contents {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.sign-up {
  text-decoration: none;
  margin:0 20px;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.login {
  text-decoration: none;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.app-introductions{
  width: 100%;
}

.app-introduction {
  width: 100vw;
}

.introduction-text span {
 font-family: 'HanziPen TC',sans-serif;
 font-size: 8vh;
}

.introduction-text {
  font-size: 2vh;
  text-shadow:0 0 10px gray;
  color: grey;
  text-align: center;
  font-family: 'M PLUS 1p', sans-serif;
}

.main-title{
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 4;
}

.user-icon {
  height: 42px;
  width: 42px;
  margin-right: 6px;
}

.item-post {
  padding: 0 10vw;
  height: 130vh;
}

.item-post-title {
  border-bottom: solid 2px transparent;
  border-image: url("https://www.infocrest.co.jp/ykxbdgs5qgq3/uploads/2019/10/blog_m02_2.jpg");
  border-image-slice: 1;
  border-image-repeat: stretch;
  font-family: 'M PLUS 1p', sans-serif;
}

.item-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.article-user-icon{
  height: 18px;
  width: 18px;
}

.article-title {
  font-size: medium;
}

.article-text {
  font-size: small;
  color: gray;
}

.article-username {
  font-size: small;
  border-bottom: 1px solid black;
}

// items show
.wrapper-show {
  background-color: rgb(218, 216, 216);
  width: 100%;
  padding: 3% 15%;
}

.wrapper-showcontents {
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 15px 15px;
}

.show-user {
  border-bottom: double rgb(211, 210, 210);
  padding-bottom: 5px;
}
.show-text {
  margin-top: 40px;
  padding: 0 10vw;
}