// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.wrapper {
  background-color: rgb(241, 240, 240);
  width: 100%;
}

.topbar {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  height: 60px;
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: 'HanziPen TC',sans-serif;
}

.sbox{
  height: 30px;
  width: 30vw;
  outline: none;
  border: none;
  padding: 0 2%;
  background-color: rgb(233, 233, 233);
  border-radius: 5px 0 0 5px;
  font-size: small;
}

.sbtn{
  height: 30px;
  border: none;
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
  background-color: #7fbfff;
  color: white;
  font-size: small;
}

li {
  text-decoration: none;
  color: #333333;
}

.user-contents {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.sign-up {
  text-decoration: none;
  margin:0 10px;
  background-color: rgba(109, 214, 3, 0.699);
  color: white;
  padding: 15px 20px;
  font-size: small;
}

.login {
  text-decoration: none;
  background-color: rgba(109, 214, 3, 0.699);
  color: white;
  padding: 15px 20px;
  font-size: small;
}

.app-introductions{
  width: 100%;
}

.app-introduction {
  width: 100vw;
}

.introduction-text span {
 font-family: 'HanziPen TC',sans-serif;
 font-size: 8vh;
}

.introduction-text {
  font-size: 2vh;
  text-shadow:0 0 10px gray;
  color: grey;
  text-align: center;
  font-family: 'M PLUS 1p', sans-serif;
}

.top-head {
  width: 100vw;
  text-align: center;
}

.top-head h1 {
  font-family: 'HanziPen TC',sans-serif;
  font-weight: bold;
}

.user-icon {
  height: 42px;
  width: 42px;
}

.item-post {
  padding: 0 10vw;
  height: 130vh;
}

.item-post-title {
  border-bottom: solid 4px transparent;
  border-image: url("https://www.infocrest.co.jp/ykxbdgs5qgq3/uploads/2019/10/blog_m02_2.jpg");
  border-image-slice: 1;
  font-family: 'M PLUS 1p', sans-serif;
}

.item-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.article-user-icon{
  height: 18px;
  width: 18px;
}

.article-title {
  font-size: medium;
}

.article-text {
  font-size: small;
  color: gray;
}

.article-username {
  font-size: small;
  border-bottom: 1px solid black;
}

.post-image {
  position: relative;
}

.evaluation {
  position: absolute;
  bottom: 0px;
  right: 1px;
  background-color: rgb(73, 73, 252);
  border-radius: 15px;
  padding: 3px 5px;
  color: white;
  display: flex;
  align-items: center;
}

// 投稿詳細

.user-show-link {
  text-decoration: none;
  color: #333333;
}

.wrapper-showcontents {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 70vw;
  padding: 15px;
  margin: 0 auto;
  
}

.show-user {
  border-bottom: double rgb(211, 210, 210);
  padding-bottom: 5px;
}
.show-text {
  margin-top: 20px;
}

.wrapper-comments {
  height: 100%;
  width: 60vw;
  margin: 0 auto;
}

.comment-form {
  width: 70%;
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  background-color: rgb(241, 240, 240);
  height: 35px;
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.comment-user {
  font-size: small;
}

.comment-day {
  font-size: x-small;
  color: rgb(136, 135, 135);
}

.comment-box{
  padding: 5px;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

// 投稿編集
.item-edit-title {
  border-bottom: 4px solid;
    border-image: linear-gradient(to right, red 0%, yellow 100%);
    border-image-slice: 1;
    font-family: 'M PLUS 1p', sans-serif;
}

// ユーザー詳細
.user-show {
  width: 350px;
  background-color: white;
  margin: 0 auto;
  padding: 15px;
}

.show-username {
  border-bottom: double lightgrey;
  padding-bottom: 10px;
  font-size: large;
}